<!--The content below is only a placeholder and can be replaced.-->
<div class="appData">
  <h1 style="font-size: 40px;color: red;">
    Play and win
  </h1>
  <div class="content">
    <app-player [player]="player1" [score]="player1Score" [totalScore]="player1Total" (playFun)='playFun("Player1")'>
    </app-player>
    <app-player [player]="player2" [score]="player2Score" [totalScore]="player2Total" (playFun)='playFun("Player2")'>
    </app-player>
  </div>

  <div class="winner"><span>Winner: </span><span>{{winner}}</span></div>
  <div class="reset">
    <button (click)=restart()>Reset</button>
  </div>
</div>
